.chatbox{
    height: 500px;
    width: 430px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 100;
    right: 100;
    background-color: azure;
}

.chatbox__title{
    background-color: slateblue;
    color: white;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
}

.chatbox__messages::-webkit-scrollbar {
    display: none; 
}

.chatbox__messages{
    width: 100%;
    height: 460px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: normal;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}


.chatbox__input{
    width: 100%;
    display: flex;
    flex-direction: row;		
}

.chatbox__input__message:focus{
    outline: none;
}

.chatbox__input__message{
    font-size: 16px;
    width: 75%;
    height: 35px;
}

.chatbox__input__button{
    width: 25%;
    cursor: pointer;
    font-size: 18px;
}

.chatbox__messages__sender{
    font-size: 18px;
    color: white;
    background-color: #2596be;
    padding: 6px;
    border-radius: 6px;
    max-width: 20ch;
    align-self: flex-end;
    margin-bottom: 10px;

}

 .chatbox__messages__receiver {
    font-size: 18px;
    background-color: #2596be;
    color: white;
    max-width: 20ch;
    width: fit-content;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 10px;
}